* {
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  scroll-behavior: smooth;
}
body{
  font-size: 20px;
  color:#ffffff;
  font-family: Rowdies;
}
h1{
  font-family: Rowdies;
}
h2{
  font-size: 55px;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}
.header{
  margin-top: -40px;
  background: linear-gradient(#cf000000, #7c010100);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px #00000080;
  z-index: 10;
}
.nav_bar{
  display: flex;
  justify-content: center;
}
.nav_list{
  display: flex;
  list-style: none;
}
.nav_list li{
  display: list-item;
  text-align: center;
  margin:1rem;  
}
.nav_link{
  color: #575757;
  font-weight: bold;
}
.text_code{
  color: #ffffff;
  font-weight: bold;
}
.shadow{
  box-shadow: 0 0 10px #00000080;
}
.mobile_on{
  display: none;
}
.mobile_bg{
  display:none;
}
.nd{
  text-decoration: none;
}
.nd:hover{
  color:#962828;
  background-color: #ffa100;
  border-radius: 25%;
}
.mt{
  margin-top: 50px; 
}
.ml{
   margin-left: 40px;
}
.pd{
  padding: 5px 10px;
}
.flex{
    display: flex;
    flex-direction: column;
}
ul{
  margin-top: 45px;
  list-style: none;
}
li{
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.text_code_orange{
  margin-left: 15px;
  font-weight: lighter;
  color: #ff5100;
}
.main{
  width: 100%;
  height: 100%;
  background:url("../assets/img/bg_red.jpg") no-repeat center center/cover;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 850px;
}
.about_info li{
  display: block;
}
.contacts,.skils,.code,.projects,.educetion,.english{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 850px;
}
.text_proj{
  margin-top: 25px;
  font-size: 25px;
}
.ico{
  object-fit: cover;
  margin-right: 25px;
  background: #ffffff;
  border-radius: 25%;
  width: 50px;

}
.avatar{
  border-radius: 100%;
  width: 50%;
    
}
.skils_info li{
  display: flex;
  justify-content: space-between;
}
.lvl{
  margin-left: 15px;
  background: #ffffff;
  height: 35px;
  width: 200px;
border-radius: 15px;
}
.lvl_html ,.lvl_css,.lvl_js,.lvl_os,.lvl_figma,.lvl_git,.lvl_vscode{
  text-align: center;
  height: 35px;
  width: 150px;
  border-radius: 15px 0 0 15px;
  background: #ffa100;
}
.lvl_css{
  width: 120px;
}
.lvl_js{
  width: 160px;
}
.lvl_git{
  width: 140px;
}
.lvl_figma{
  width: 132px;
}
.lvl_os{
  width:180px;
}
.lvl_vscode{
  width: 164px;
}
.educetion_list li{
  font-size: 35px;
  flex-wrap: wrap;
}
.educetion_list li span{
  font-size: 20px;
}
.footer {
  margin-top: -70px;
  box-shadow: 0 0 10px #00000080;
  padding: 5px;
  font-size: 3rem;
}
.ft{
  display: flex;
  justify-content: space-around;
}
.link_git{
  color:#ffffff ;
    
}
.img_rs{
  width: 2em;
}
@media screen and (max-width: 768px){
  .nav_list {
  display: grid;
  grid-template-columns:120px 120px 120px 120px;

 }
 .nav_link{
  font-size: 20px;
 }
 .skils_info li{
  flex-direction: column;
  margin-top: 10px;
 }
 .educetion_list li{
  font-size: 22px;
 }
 .code_ex_size{
  font-size: 12px;
}

}
@media screen and (max-width: 479px){
  body{
    font-size: 14px;
  }
  .nav_bar{
    justify-content: center;
    font-size: 14px;
    background: #0e020254;
    width: 50%;
  }
  .nav_list{
    margin: 0;
    padding: 0;
    grid-template-columns: 120px 120px 
  }
  .skils_info li{
    text-align: center;
  }
  .nav_list li{
    margin: 0.5em;
  }
  .code_ex_size{
    font-size: 11px;
  }
  .educetion_list li{
    font-size: 18px;
   }
  .footer{
    font-size: 1.5rem;
  }
  .about,.contacts,.skils,.code,.projects,.educetion,.english{
    min-height: 700px
  }
  .header{
    backdrop-filter: none;
    background: none;
    box-shadow:none;
  }
  .mobile_on{
    margin:30px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 200px;
  }
  .elem1,.elem2,.elem3{
    margin-top: 10px;
    background: #fdeeee;
    width:60px;
    height: 10px;
    border-radius: 5px;
    border:1px solid #0e0b0b;
}
}


